a:link {
color: #040a0;
text-decoration:none;
}
a:focus, a:hover {
color: #bf0000;
font-size: 14px
text-decoration:none;
}
body,td,th,tr,p,a {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px
}
strong {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px;
}
heading {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 22px;
}
papertitle {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px;
font-weight: 700;
font-weight: bold;
}
name {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 22px;
}
.one
{
width: 160px;
height: 160px;
position: relative;
}
.two
{
width: 160px;
height: 160px;
position: absolute;
transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
}
.fade {
transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
}
span.highlight {
background-color: #d0d0d0;
}