a:link {
color: #040a0;
font-size: 0.8vw;
text-decoration:none;
max-height: 999999px;
}
a:focus, a:hover {
color: #bf0000;
font-size: 0.8vw;
text-decoration:none;
max-height: 999999px;
}
body,td,th,tr,p,a {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 0.8vw;
max-height: 999999px;
}
strong {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 0.8vw;
max-height: 999999px;
}
heading {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 140%;
max-height: 999999px;
}
papertitle {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 0.8vw;
font-weight: 700;
font-weight: bold;
max-height: 999999px;
}
name {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 140%;
max-height: 999999px;
}
.one
{
width: 160px;
height: 160px;
position: relative;
}
.two
{
width: 160px;
height: 160px;
position: absolute;
transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
}
.fade {
transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
}
span.highlight {
background-color: #d0d0d0;
}